@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: url(./assets/weather-page-background.jpg); */
  background-size: cover;
  background-repeat: round;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.header-text {
  font-size: 28px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Source Code Pro", monospace;
}

.section-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}

.header-div {
  margin-bottom: 3%;
}

.search-area-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2%;
}

.icon-img {
  height: 20vh;
}
